.callback {
  position: relative;
  padding: 50px 60px;

  @include vp-1023 {
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 68px 0 67px;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background-color: $lochmara;
  }
}

.callback__text {
  margin: -10px 0 0;

  @include vp-1023 {
    text-align: center;
  }

  h2 {
    margin: 171px 0 9px;

    font-size: 40px;
    font-weight: 700;
    line-height: 60px;

    @include vp-1023 {
      margin: 0 0 2px;

      font-size: 34px;
      line-height: 51px;
    }

    @include vp-767 {
      margin: 0 0 14px;

      font-size: 24px;
      line-height: 32px;
    }
  }

  p {
    margin: 0 274px 30px 0;
    line-height: 27px;
    letter-spacing: 0.07em;

    @include vp-1023 {
      margin: 0 170px 53px;
      text-align: center;
      letter-spacing: 0.05em;
    }

    @include vp-767 {
      margin: 0 49px 6px;
      line-height: 23px;
      letter-spacing: normal;
    }
  }
}

.callback__container {
  display: grid;
  grid-template-columns: 2fr 1fr;

  @include vp-1023 {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

.callback__form {
  width: 403px;
  margin-bottom: auto;

  @include vp-767 {
    width: 290px;
  }
}
