.contacts {
  iframe {
    display: block;
    border: none;
    width: 100%;
    height: 306px;

    @include vp-1023 {
      width: 324px;
      height: 335px;
    }

    @include vp-767 {
      order: 1;
      width: 290px;
      height: 316px;
    }
  }
}

.contacts__text {
  padding: 72px 0 0 28px;

  @include vp-1023 {
    padding: 65px 0 0;
  }

  @include vp-767 {
    padding: 0;
  }

  p {
    margin: 0 0 33px;

    font-size: 18px;
    font-weight: 500;
    line-height: 27px;

    @include vp-1023 {
      margin: 0 0 30px;
    }

    @include vp-767 {
      margin: -7px 0 30px;
    }
  }
}

.contacts__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;

  @include vp-1023 {
    gap: 30px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 14px;
  }
}

.contacts__address {
  span {
    font-style: normal;
    color: $tangaroa;
  }
}

.contact__tel {
  font-style: normal;
  color: $tangaroa;
  margin-right: auto;

  @include vp-767 {
    margin-right: 0;
  }
}

.contacts__group {
  display: grid;
  grid-template-columns: 18px 1fr;
  gap: 10px;

  margin: 0 0 25px;

  @include vp-1023 {
    margin: 0 0 20px;
  }
}
