.cruises {
  h2 {
    margin: 0 0 50px;

    font-size: 28px;
    font-weight: 600;
    line-height: 42px;
    text-align: center;

    @include vp-1023 {
      font-size: 26px;
      line-height: 39px;
    }

    @include vp-767 {
      margin: 0 0 30px;

      font-size: 24px;
      line-height: 36px;
    }
  }
}

.cruises__text {
  display: flex;
  flex-direction: column;
  height: 386px;
  padding: 28px 27px 21px;
  background-color: transparent;

  @include vp-1023 {
    padding: 28px 35px 28px;
    height: auto;
    margin-top: auto;
  }

  @include vp-767 {
    padding: 28px 25px 18px;
  }

  dl {
    display: none;
    margin: 15px 0 17px;
    overflow: scroll;
    scrollbar-width: none;

    /* stylelint-disable-next-line */
    &::-webkit-scrollbar {
      display: none;
    }
  }

  dt {
    margin: 0;

    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: $alice-blue;
  }

  dd {
    margin: 0 0 12px;

    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: $quartz;
  }
}

.cruises__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 0 15px;

  @include vp-1023 {
    grid-template-columns: repeat(2, 1fr);
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }
}

.cruises__item {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  aspect-ratio: 1 / 1.48;

  @include vp-1023 {
    aspect-ratio: 1 / 1.25;
    min-height: 386px;
    height: auto;
  }

  @include vp-767 {
    aspect-ratio: 1 / 1.42;
  }

  &:hover,
  &:focus,
  &:focus-within {
    box-shadow: 0 4px 35px 0 rgba(1, 28, 64, 0.15);

    .cruises__text {
      height: 100%;
      background-color: $tangaroa;
      padding: 28px 25px 35px;

      @include vp-1023 {
        padding: 28px 35px 35px;
      }

      @include vp-767 {
        padding: 28px 25px 35px;
      }

      h3 {
        margin: 0;
      }

      dl {
        display: block;

        @include vp-1023 {
          height: auto;
        }
      }

      .cruises__button {
        display: flex;

        @include vp-1023 {
          margin-top: auto;
        }
      }
    }
  }

  h3 {
    margin: auto 0 0;

    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: $alice-blue;
  }
}


.cruises__image {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: $lochmara;

  img {
    width: 100%;
    height: 100%;

    @include vp-1023 {
      height: auto;
    }
  }
}

.cruises__button {
  display: none;
  margin-top: 10px;
  padding: 10px 20px 11px;
}
