.form {
  padding: 44px 50px 53px;
  background-color: $tangaroa;

  @include vp-767 {
    padding: 35px 28px 38px;
  }

  p {
    margin: 0 0 27px;

    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: $alice-blue;

    @include vp-767 {
      line-height: 26px;
      text-align: center;
    }
  }

  .input-message {
    position: absolute;
    top: -20px;
    left: 0;
    margin: 0;
    font-size: 12px;
    color: $red;
  }
}

.form__area {
  position: relative;

  input {
    width: 100%;
    padding: 11px 16px;
    margin: 0 0 15px;

    font-family: $montserrat;
    font-size: 14px;
    line-height: 21px;
    color: $tangaroa;
    background-color: $alice-blue;

    @include hover-focus {
      opacity: 0.8;
      outline-color: $pale-cornflower-blue;
    }
  }

  input::placeholder {
    font-family: inherit;
    color: rgba(1, 28, 64, 0.7);
  }
}

.form__data-area {
  position: relative;
  display: grid;
  grid-template-columns: 18px 1fr;
  gap: 5px;
  align-items: center;
  margin: 4px 0 30px;

  @include vp-767 {
    grid-template-columns: 20px 1fr;
    gap: 10px;
    margin: 1px 0 27px;
  }

  input {
    appearance: none;
    width: 15px;
    height: 15px;
    margin: 0;
    background-color: $alice-blue;
    cursor: pointer;

    @include hover-focus {
      opacity: 0.8;
      outline-color: $pale-cornflower-blue;
    }

    @include vp-767 {
      width: 20px;
      height: 20px;
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }

  label {
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    color: $alice-blue;
    cursor: pointer;

    @include vp-767 {
      line-height: 12px;
    }
  }

  input:checked {
    &::after {
      content: "";
      position: absolute;
      left: 4px;
      top: calc(50% - 2px);
      width: 7px;
      height: 4px;
      border-left: 1px solid $sapphire;
      border-bottom: 1px solid $sapphire;
      transform: rotate(-50deg);

      @include vp-767 {
        left: 5px;
        top: calc(50% - 5px);
        width: 9px;
        height: 6px;
      }
    }
  }
}

.form__button {
  width: 100%;
  padding: 11px 20px;
}
