.header {
  position: absolute;
  width: 100%;
  padding: 35px 0;

  @include vp-1023 {
    padding: 28px 0;
  }

  @include vp-767 {
    padding: 15px 0;

    &.is-open {
      &::before {
        content: "";
        position: absolute;
        z-index: 3;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 43, 102, 0.5);
      }
    }
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .is-open & {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    padding: 22px 0 0 15px;
    min-width: 283px;
    width: 78%;
    height: 100%;
    background-color: $alice-blue;
    color: $tangaroa;
  }
}

.header__toggle {
  display: none;

  @include vp-767 {
    display: block;
    position: relative;
    width: 24px;
    height: 14px;
    padding: 0;
    margin-left: auto;
    background-color: inherit;
    cursor: pointer;
    border: none;
    justify-self: end;
    align-self: end;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 2px;
      background-color: $alice-blue;
      box-shadow: 0 6px 0 0 $alice-blue, 0 12px 0 0 $alice-blue;
    }

    .is-open & {
      width: 30px;
      height: 30px;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 19px;
        left: 0;
        width: 18px;
        height: 2px;
        background-color: $tangaroa;
      }

      &::before {
        transform: rotate(45deg);
        box-shadow: none;
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}

.header__toggle-wrapper {
  display: none;

  @include vp-767 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: end;
    max-width: 100px;
  }
}

.header__logo {
  @include vp-767 {
    margin: 8px 20px 0 0;
    z-index: 5;
  }

  @include hover-focus {
    opacity: 0.8;
  }

  img {
    @include vp-1023 {
      width: 38px;
      height: 20px;
    }

    @include vp-767 {
      width: 42px;
      height: 22px;
    }

    .is-open & {
      @include vp-767 {
        filter: brightness(0.15) saturate(100) hue-rotate(10deg);
      }
    }
  }
}

.header__nav {
  max-width: 700px;

  @include vp-1023 {
    max-width: 600px;
  }

  @include vp-767 {
    display: none;

    .is-open & {
      position: absolute;
      top: 0;
      right: 0;
      display: block;
      min-width: 283px;
      width: 100%;
      height: 80px;
      padding: 49px 0 0 0;
      background-color: $alice-blue;
    }
  }
}
