.nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 33px;

  .footer & {
    @include vp-1023 {
      gap: 22px;
    }

    @include vp-767 {
      flex-direction: column;
      gap: 8px;
    }
  }

  .header & {
    @include vp-767 {
      display: none;
    }
  }
}

.nav-list__link {
  font-weight: 500;
  line-height: 20px;
  color: $alice-blue;

  .header__nav-list & {
    @include vp-1023 {
      font-size: 14px;
      line-height: 18px;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 22px;
      color: $tangaroa;
    }
  }

  .footer__nav-list & {
    @include vp-1023 {
      font-size: 12px;
      line-height: 15px;
    }
  }
}
