.nav-list {
  display: flex;
  flex-wrap: wrap;

  .header & {
    gap: 37px;

    @include vp-1023 {
      gap: 26px;
    }
  }

  .footer & {
    gap: 35px;

    @include vp-1023 {
      gap: 22px;
    }

    @include vp-767 {
      flex-direction: column;
      gap: 8px;
    }
  }

  @include vp-767 {
    .is-open & {
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 26px;
      max-width: 100%;
      width: 100%;
      height: 100vh;
      padding: 35px 15px 20px 23px;

      pointer-events: all;
      overflow-y: scroll;
      scrollbar-width: none;

      color: $tangaroa;
      background-color: $alice-blue;

      /* stylelint-disable-next-line */
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.nav-list__link {
  font-weight: 500;
  line-height: 20px;
  color: $alice-blue;

  @include hover-focus {
    opacity: 0.8;
  }

  .header__nav-list & {
    @include vp-1023 {
      font-size: 14px;
      line-height: 18px;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 22px;
      color: $tangaroa;
    }
  }

  .footer__nav-list & {
    @include vp-1023 {
      font-size: 12px;
      line-height: 15px;
    }
  }
}
